In [6]:
import pandas as pd
import math

In [17]:
hospital_data_df=pd.read_csv("./hospital_data.csv")

In [8]:
#first i print the data frame starting rows
hospital_data_df.head(4)

,Patient_ID,Name,Age,Gender,Disease,Income,Days_Admitted,Treatment_Cost,Discharged
0,10001,Patient_1,46,Male,NaN,90000.0,21.0,9816,True
1,10002,Patient_2,86,Female,Asthma,90000.0,20.0,8126,False
2,10003,Patient_3,64,Male,Asthma,50000.0,6.0,9192,False
3,10004,Patient_4,79,Female,Diabetes,50000.0,4.0,5505,True

In [15]:
#i will modify the data by replacing the NaN in disease and he or she has been discharged then i will say then were diagnosed with no
# disease
hospital_data_df.loc[pd.isna(hospital_data_df.Disease)&(hospital_data_df.Discharged==True)]="All Tests Negative"

C:\Users\Pragya\AppData\Local\Temp\ipykernel_16576\3241698807.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'All Tests Negative' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  hospital_data_df.loc[pd.isna(hospital_data_df.Disease)&(hospital_data_df.Discharged==True)]="All Tests Negative"
C:\Users\Pragya\AppData\Local\Temp\ipykernel_16576\3241698807.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'All Tests Negative' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  hospital_data_df.loc[pd.isna(hospital_data_df.Disease)&(hospital_data_df.Discharged==True)]="All Tests Negative"
C:\Users\Pragya\AppData\Local\Temp\ipykernel_16576\3241698807.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'All Tests Negative' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  hospital_data_df.loc[pd.isna(hospital_data_df.Disease)&(hospital_data_df.Discharged==True)]="All Tests Negative"
C:\Users\Pragya\AppData\Local\Temp\ipykernel_16576\3241698807.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'All Tests Negative' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  hospital_data_df.loc[pd.isna(hospital_data_df.Disease)&(hospital_data_df.Discharged==True)]="All Tests Negative"
C:\Users\Pragya\AppData\Local\Temp\ipykernel_16576\3241698807.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'All Tests Negative' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  hospital_data_df.loc[pd.isna(hospital_data_df.Disease)&(hospital_data_df.Discharged==True)]="All Tests Negative"
C:\Users\Pragya\AppData\Local\Temp\ipykernel_16576\3241698807.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'All Tests Negative' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  hospital_data_df.loc[pd.isna(hospital_data_df.Disease)&(hospital_data_df.Discharged==True)]="All Tests Negative"

In [16]:
hospital_data_df

,Patient_ID,Name,Age,Gender,Disease,Income,Days_Admitted,Treatment_Cost,Discharged
0,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative
1,10002,Patient_2,86,Female,Asthma,90000.0,20.0,8126,False
2,10003,Patient_3,64,Male,Asthma,50000.0,6.0,9192,False
3,10004,Patient_4,79,Female,Diabetes,50000.0,4.0,5505,True
4,10005,Patient_5,86,Male,Covid-19,120000.0,25.0,7881,True
...,...,...,...,...,...,...,...,...,...
9995,19996,Patient_9996,44,Female,NaN,90000.0,22.0,9608,False
9996,19997,Patient_9997,29,Male,Covid-19,50000.0,15.0,1316,False
9997,19998,Patient_9998,79,Female,Flu,70000.0,28.0,3963,False
9998,19999,Patient_9999,69,Female,Flu,150000.0,10.0,2091,True
9999,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative,All Tests Negative

In [21]:
hospital_data_df.isnull().any()

Patient_ID        False
Name              False
Age               False
Gender            False
Disease            True
Income             True
Days_Admitted      True
Treatment_Cost    False
Discharged        False
dtype: bool

In [34]:
#now a common practice in data manipulation is to replace the missing data with the mean of the data column
# for instance in the income column there are some data rows that have the missing values 
# income_data=hospital_data_df.loc[pd.isnull(hospital_data_df["Income"])==False, "Income"].mean()
income_data=hospital_data_df.loc[pd.isnull(hospital_data_df["Income"])== False,"Income"].mean()

In [36]:
income_data

np.float64(90463.30326316961)

In [37]:
income_data=hospital_data_df.describe()

In [40]:
income_data.at["mean","Income"]

np.float64(90463.30326316961)

In [41]:
hospital_data_df["Income"].mean()

np.float64(90463.30326316961)

In [43]:
hospital_data_df.loc[pd.isnull(hospital_data_df.Income),"Income"]=income_data.at["mean","Income"]

In [46]:
hospital_data_df.isnull().any()

Patient_ID        False
Name              False
Age               False
Gender            False
Disease            True
Income            False
Days_Admitted      True
Treatment_Cost    False
Discharged        False
dtype: bool

In [53]:
# now i want to see how may people are there who have days admitted field possessing the empty value and have also discharged not defined
hospital_data_df.loc[(hospital_data_df["Discharged"]==True)&(hospital_data_df.Days_Admitted.isnull())].describe()

         Patient_ID         Age         Income  Days_Admitted  Treatment_Cost
count    242.000000  242.000000     242.000000            0.0      242.000000
mean   14762.739669   51.326446   91024.281634            NaN     5225.252066
std     2882.295772   20.059787   30003.440609            NaN     2650.069076
min    10042.000000   18.000000   50000.000000            NaN     1004.000000
25%    12135.750000   35.000000   70000.000000            NaN     2907.500000
50%    14935.500000   50.000000   90000.000000            NaN     5175.500000
75%    17262.250000   68.000000  120000.000000            NaN     7381.250000
max    19986.000000   89.000000  150000.000000            NaN     9986.000000

By above data i can say that there are 258 patients that are not discharged because they have not been admitted