In [39]:
import sqlite3

In [40]:
db=sqlite3.connect("test.db")

In [41]:
#use cursor to fetch from the database and execcute query and perform query
curs=db.cursor()

In [35]:
curs.execute('''
    CREATE TABLE students (
        student_id TEXT PRIMARY KEY,  -- Store UUID as TEXT
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        email TEXT NOT NULL UNIQUE,
        date_of_birth DATE NOT NULL,
        gender TEXT,
        course TEXT NOT NULL,
        enrollment_date DATE NOT NULL
    )
''')

OperationalError: table students already exists

In [16]:
import uuid
student_uuid = str(uuid.uuid4())  # Generate a UUID v4
# curs.execute('''
#     INSERT INTO students (student_id, first_name, last_name, email, date_of_birth, gender, course, enrollment_date)
#     VALUES (?, ?, ?, ?, ?, ?, ?, ?)
# ''', (student_uuid, 'John', 'Doe', 'john.doe@example.com', '2000-05-15', 'Male', 'Computer Science', '2019-09-01'))
print(str(uuid.uuid4()))

0b8c4d37-d10d-4a7b-976b-28886a693133

In [19]:
student_uuid=str(uuid.uuid4())
curs.execute('''
INSERT INTO students (student_id, first_name, last_name, email, date_of_birth, gender, course, enrollment_date)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
''', (student_uuid, 'Tony', 'Mark', 'tonystark2000@gmail.com', '1987-06-16', 'Male', 'Computer Science', '2023-09-02'))

In [30]:
import pandas as pd
pd.DataFrame(curs.execute('SELECT * FROM students'))
# curs.execute('''
# CREATE TABLE employees (
#         employee_id uuid PRIMARY KEY, 
#         first_name TEXT NOT NULL,
#         last_name TEXT NOT NULL,
#         email TEXT NOT NULL UNIQUE)
# ''')

print(curs.description)

(('student_id', None, None, None, None, None, None), ('first_name', None, None, None, None, None, None), ('last_name', None, None, None, None, None, None), ('email', None, None, None, None, None, None), ('date_of_birth', None, None, None, None, None, None), ('gender', None, None, None, None, None, None), ('course', None, None, None, None, None, None), ('enrollment_date', None, None, None, None, None, None))

In [31]:
#save the changes
db.commit()
#close the connection
db.close()

In [43]:
# Create employee table
curs.execute('''
    CREATE TABLE IF NOT EXISTS employee (
        employee_id INTEGER PRIMARY KEY AUTOINCREMENT,
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        email TEXT NOT NULL,
        date_of_birth TEXT,
        hire_date TEXT,
        department TEXT,
        salary REAL
    )
''')

# Commit the changes
db.commit()

In [44]:
# Sample employee data
employees = [
    ('Tony', 'Stark', 'tony.stark@starkindustries.com', '1970-05-29', '2008-10-10', 'Engineering', 150000),
    ('Steve', 'Rogers', 'steve.rogers@avengers.com', '1918-07-04', '2011-09-05', 'Security', 100000),
    ('Natasha', 'Romanoff', 'natasha.romanoff@shield.gov', '1984-11-22', '2010-01-01', 'Intelligence', 120000),
    ('Bruce', 'Banner', 'bruce.banner@avengers.com', '1969-12-18', '2012-04-26', 'Research', 135000),
    ('Clint', 'Barton', 'clint.barton@shield.gov', '1971-06-07', '2011-07-19', 'Security', 95000),
    ('Peter', 'Parker', 'peter.parker@dailybugle.com', '2001-08-10', '2020-06-15', 'Photography', 55000),
    ('Carol', 'Danvers', 'carol.danvers@shield.gov', '1968-10-15', '2018-03-08', 'Defense', 180000),
    ('Wanda', 'Maximoff', 'wanda.maximoff@avengers.com', '1989-02-10', '2015-05-01', 'Telekinesis', 130000),
    ('Scott', 'Lang', 'scott.lang@avengers.com', '1969-04-06', '2015-07-17', 'R&D', 90000),
    ('T\'Challa', 'Udaku', 'tchalla.udaku@wakanda.com', '1980-11-21', '2016-02-16', 'Leadership', 200000)
]

# Insert data into the employee table
curs.executemany('''
    INSERT INTO employee (first_name, last_name, email, date_of_birth, hire_date, department, salary)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', employees)

# Commit the changes
db.commit()

In [46]:
curs.execute("select * from employee")
curs.fetchall()

[(1,
  'Tony',
  'Stark',
  'tony.stark@starkindustries.com',
  '1970-05-29',
  '2008-10-10',
  'Engineering',
  150000.0),
 (2,
  'Steve',
  'Rogers',
  'steve.rogers@avengers.com',
  '1918-07-04',
  '2011-09-05',
  'Security',
  100000.0),
 (3,
  'Natasha',
  'Romanoff',
  'natasha.romanoff@shield.gov',
  '1984-11-22',
  '2010-01-01',
  'Intelligence',
  120000.0),
 (4,
  'Bruce',
  'Banner',
  'bruce.banner@avengers.com',
  '1969-12-18',
  '2012-04-26',
  'Research',
  135000.0),
 (5,
  'Clint',
  'Barton',
  'clint.barton@shield.gov',
  '1971-06-07',
  '2011-07-19',
  'Security',
  95000.0),
 (6,
  'Peter',
  'Parker',
  'peter.parker@dailybugle.com',
  '2001-08-10',
  '2020-06-15',
  'Photography',
  55000.0),
 (7,
  'Carol',
  'Danvers',
  'carol.danvers@shield.gov',
  '1968-10-15',
  '2018-03-08',
  'Defense',
  180000.0),
 (8,
  'Wanda',
  'Maximoff',
  'wanda.maximoff@avengers.com',
  '1989-02-10',
  '2015-05-01',
  'Telekinesis',
  130000.0),
 (9,
  'Scott',
  'Lang',
  'scott.lang@avengers.com',
  '1969-04-06',
  '2015-07-17',
  'R&D',
  90000.0),
 (10,
  "T'Challa",
  'Udaku',
  'tchalla.udaku@wakanda.com',
  '1980-11-21',
  '2016-02-16',
  'Leadership',
  200000.0)]

In [47]:
pd.DataFrame(curs.execute("select * from employee"))

,0,1,2,3,4,5,6,7
0,1,Tony,Stark,tony.stark@starkindustries.com,1970-05-29,2008-10-10,Engineering,150000.0
1,2,Steve,Rogers,steve.rogers@avengers.com,1918-07-04,2011-09-05,Security,100000.0
2,3,Natasha,Romanoff,natasha.romanoff@shield.gov,1984-11-22,2010-01-01,Intelligence,120000.0
3,4,Bruce,Banner,bruce.banner@avengers.com,1969-12-18,2012-04-26,Research,135000.0
4,5,Clint,Barton,clint.barton@shield.gov,1971-06-07,2011-07-19,Security,95000.0
5,6,Peter,Parker,peter.parker@dailybugle.com,2001-08-10,2020-06-15,Photography,55000.0
6,7,Carol,Danvers,carol.danvers@shield.gov,1968-10-15,2018-03-08,Defense,180000.0
7,8,Wanda,Maximoff,wanda.maximoff@avengers.com,1989-02-10,2015-05-01,Telekinesis,130000.0
8,9,Scott,Lang,scott.lang@avengers.com,1969-04-06,2015-07-17,R&D,90000.0
9,10,T'Challa,Udaku,tchalla.udaku@wakanda.com,1980-11-21,2016-02-16,Leadership,200000.0